body{
    background-color: hsl(212, 45%, 89%);
    margin: 0px;
}

.container{
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}
.component{
    width: 241px;
    background-color: white;
    padding:15px;
    border-radius: 12px;
    margin: auto;

    
    

}
img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
@font-face{
    font-family: outfit;
    src: url(fonts/Outfit-VariableFont_wght.ttf);
}
p{
    font-family: outfit;
}
.header{
    font-size: 19px;
    font-weight: 700;
    text-align: center;
    color: hsl(218, 44%, 22%);
}
.body{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: hsl(220, 15%, 55%);
}
.attribution { 
    font-size: 15px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
